A:link     {color: #4799c8; background: transparent}
A:visited  {color: #4799c8; background: transparent}
A:active   {color: #4799c8; background: transparent}

.link_color{
    color              : #4799c8;
}

body {
    font               : 8.65pt verdana, tahoma, arial;
    background-color   : #f5f5f5;
    color              : #111;
    margin-left        : 0px;
    margin-top         : 0px;
    margin-right       : 0px;
    margin-bottom      : 0px;
    overflow-x         : hidden;
    overflow-y         : hidden;
}

.section {
    border-top-width   : 1px;
    border-top-style   : solid  ;
    border-top-color   : #cecbcc;
    border-bottom-width: 1px;
    border-bottom-style: solid  ;
    border-bottom-color: #bcb8b9;
    
    background-color   : #e5e5e5;
    cursor             : pointer;
    font-weight        : bold;
    margin             :  -1 0 0 0px;
    padding-left       :  6px;
    width              : 100%;
    height             : 30px;
}

TD.section_title {
    font-weight        : normal;
    font-size          : 9.0pt;
    font-family        : Verdana;
    color              : #3c3c3c;
    text-decoration    : none;
}

.section_col {
    background-image   : url(images/daya_todo_arrow_right.png);
    background-repeat  : no-repeat;
    width              : 16px;
    height             : 16px;
    margin             : 0 0 0 0px;
    padding            : 0 0 0 0px;
    border-width       : 2px;
    border-color       : #e5e5e5;
    border-style       : solid;
}

.section_exp {
    background-image   : url(images/daya_todo_arrow_down.png);
    background-repeat  : no-repeat;
    width              : auto;
    height             : auto;
    margin             : 0;
    padding            : 0;
    border-width       : 2px;
    border-color       : #e5e5e5;
    border-style       : solid;
}

.tsk_list {
    font-weight        : normal;
    font-size          : 8.75pt;
    font-family        : Verdana;
    color              : #3c3c3c;
    text-decoration    : none;
}

.tsk_list tr:hover {
    background         : #FFE4B7;
}

.tsk_list TD.intime_task {
    color              : #0088c3;
}

.tsk_list TD.overdue_task {
    color              : #ff9e03;
}

TD.subtask_exp {
    font-weight        : normal;
    font-size          : 8.75pt;
    font-family        : Webdings;
    color              : #3c3c3c;
    text-decoration    : none;    
}

select.status {
    font-weight        : normal;
    font-size          : 8.5pt;
    font-family        : Verdana;
}

span.subtitle {
    font-size          : 8.2pt;
}
